In [2]:
import numpy as np
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import pandas as pd

## Read in the data

In [27]:
def strip(text):
    try:
        return text.strip()
    except AttributeError:
        return text

In [35]:
train_data = pd.read_csv('census.train', converters={'education' : strip,
                                    'marital-status' : strip,
                                    'occupation' : strip,
                                    'race' : strip,
                                    'sex' : strip,
                                    'hours-per-week' : strip,
                                    'prediction' : strip})

test_data = pd.read_csv('census.test', converters={'education' : strip,
                                    'marital-status' : strip,
                                    'occupation' : strip,
                                    'race' : strip,
                                    'sex' : strip,
                                    'hours-per-week' : strip,
                                    'prediction' : strip})
train_data = train_data.drop(['Unnamed: 0'], axis=1)
test_data = test_data.drop(['Unnamed: 0'], axis=1)
train_data

,age,people-represented,education,marital-status,occupation,race,sex,hours-per-week,prediction
0,39,77516,Bachelors,Never-married,Adm-clerical,White,Male,40,<=50K
1,50,83311,Bachelors,Married,Exec-managerial,White,Male,13,<=50K
2,38,215646,HS-grad,Divorced,Handlers-cleaners,White,Male,40,<=50K
3,53,234721,Some HS,Married,Handlers-cleaners,Black,Male,40,<=50K
4,28,338409,Bachelors,Married,Prof-specialty,Black,Female,40,<=50K
5,37,284582,Graduate,Married,Exec-managerial,White,Female,40,<=50K
6,49,160187,Some HS,Married,Other-service,Black,Female,16,<=50K
7,52,209642,HS-grad,Married,Exec-managerial,White,Male,45,>50K
8,31,45781,Graduate,Never-married,Prof-specialty,White,Female,50,>50K
9,42,159449,Bachelors,Married,Exec-managerial,White,Male,40,>50K
10,37,280464,Some-college,Married,Exec-managerial,Black,Male,80,>50K
11,30,141297,Bachelors,Married,Prof-specialty,Asian-Pac-Islander,Male,40,>50K
12,23,122272,Bachelors,Never-married,Adm-clerical,White,Female,30,<=50K
13,32,205019,Associate,Never-married,Sales,Black,Male,50,<=50K
14,40,121772,Associate,Married,Craft-repair,Asian-Pac-Islander,Male,40,>50K
15,34,245487,No HS,Married,Transport-moving,Amer-Indian-Eskimo,Male,45,<=50K
16,25,176756,HS-grad,Never-married,Farming-fishing,White,Male,35,<=50K
17,32,186824,HS-grad,Never-married,Machine-op-inspct,White,Male,40,<=50K
18,38,28887,Some HS,Married,Sales,White,Male,50,<=50K
19,43,292175,Graduate,Divorced,Exec-managerial,White,Female,45,>50K
20,40,193524,Graduate,Married,Prof-specialty,White,Male,60,>50K
21,54,302146,HS-grad,Divorced,Other-service,Black,Female,20,<=50K
22,35,76845,Some HS,Married,Farming-fishing,Black,Male,40,<=50K
23,43,117037,Some HS,Married,Transport-moving,White,Male,40,<=50K
24,59,109015,HS-grad,Divorced,Tech-support,White,Female,40,<=50K
25,56,216851,Bachelors,Married,Tech-support,White,Male,40,>50K
26,19,168294,HS-grad,Never-married,Craft-repair,White,Male,40,<=50K
27,54,180211,Some-college,Married,?,Asian-Pac-Islander,Male,60,>50K
28,39,367260,HS-grad,Divorced,Exec-managerial,White,Male,80,<=50K
29,49,193366,HS-grad,Married,Craft-repair,White,Male,40,<=50K
...,...,...,...,...,...,...,...,...,...
32531,30,33811,Bachelors,Never-married,?,Asian-Pac-Islander,Female,99,<=50K
32532,34,204461,Graduate,Married,Prof-specialty,White,Male,60,>50K
32533,54,337992,Bachelors,Married,Exec-managerial,Asian-Pac-Islander,Male,50,>50K
32534,37,179137,Some-college,Divorced,Adm-clerical,White,Female,39,<=50K
32535,22,325033,Some HS,Never-married,Protective-serv,Black,Male,35,<=50K
32536,34,160216,Bachelors,Never-married,Exec-managerial,White,Female,55,>50K
32537,30,345898,HS-grad,Never-married,Craft-repair,Black,Male,46,<=50K
32538,38,139180,Bachelors,Divorced,Prof-specialty,Black,Female,45,>50K
32539,71,287372,Graduate,Married,?,White,Male,10,>50K
32540,45,252208,HS-grad,Divorced,Adm-clerical,White,Female,40,<=50K
32541,41,202822,HS-grad,Divorced,?,Black,Female,32,<=50K
32542,72,129912,HS-grad,Married,?,White,Male,25,<=50K
32543,45,119199,Associate,Divorced,Prof-specialty,White,Female,48,<=50K
32544,31,199655,Graduate,Divorced,Other-service,Other,Female,30,<=50K
32545,39,111499,Associate,Married,Adm-clerical,White,Female,20,>50K
32546,37,198216,Associate,Divorced,Tech-support,White,Female,40,<=50K
32547,43,260761,HS-grad,Married,Machine-op-inspct,White,Male,40,<=50K
32548,65,99359,Associate,Never-married,Prof-specialty,White,Male,60,<=50K
32549,43,255835,Some-college,Divorced,Adm-clerical,White,Female,40,<=50K
32550,43,27242,Some-college,Married,Craft-repair,White,Male,50,<=50K
32551,32,34066,Some HS,Married,Handlers-cleaners,Amer-Indian-Eskimo,Male,40,<=50K
32552,43,84661,Associate,Married,Sales,White,Male,45,<=50K
32553,32,116138,Graduate,Never-married,Tech-support,Asian-Pac-Islander,Male,11,<=50K
32554,53,321865,Graduate,Married,Exec-managerial,White,Male,40,>50K
32555,22,310152,Some-college,Never-married,Protective-serv,White,Male,40,<=50K
32556,27,257302,Associate,Married,Tech-support,White,Female,38,<=50K
32557,40,154374,HS-grad,Married,Machine-op-inspct,White,Male,40,>50K
32558,58,151910,HS-grad,Widowed,Adm-clerical,White,Female,40,<=50K
32559,22,201490,HS-grad,Never-married,Adm-clerical,White,Male,20,<=50K
32560,52,287927,HS-grad,Married,Exec-managerial,White,Female,40,>50K

In [37]:
income_boundary = train_data['prediction']
y = np.where(income_boundary == '<=50K',1,0)
train_data = train_data.drop(['prediction'], axis=1)

# We don't need these columns
# to_drop = ['State','Area Code','Phone','Churn?']
# churn_feat_space = churn_df.drop(to_drop,axis=1)

## Understanding the data
Before working with a dataset, I spend a little bit of time trying to figure out the different aspects of the dataset. I'll glimpse through the table and get an idea of what types of variables are being represented, some of the possible values, etc. One of the first things I investigate is the number of unique values in each column

In [38]:
# iteratie through the columns and count the unique values in each column
for column in train_data:
    print(column, len(np.unique(train_data[column])))

age 73
people-represented 21648
education 7
marital-status 4
occupation 15
race 5
sex 2
hours-per-week 94

This gives me a few insights about what techniques may be best for processing the data.

## Dealing with categorical Data
Before we can even get close to framing this problem in a proper context, we need to deal with the categorical data. 





There are a number of techniques to approach this and each varies based on the type of data. 

The simplest of technique is to enumerate all possible categories and replace the categories with their numerical position. Fortunately, sklearn has the module just for us: [LabelEncoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html)


Let's start with the simple case - sex

In [48]:
from sklearn.preprocessing import LabelEncoder as LE

num_encoder = LE()

#to convert into numbers
print('before encoding', np.unique(train_data['sex']))
train_data['sex'] = num_encoder.fit_transform(train_data['sex'])
print('after encoding', np.unique(train_data['sex']))

before encoding [0 1]
after encoding [0 1]

Of course we will want to do the same for the other categorical variables. **Write a function that does this for a given list of column names**

In [46]:
def le_categories(df, labels):
    assert labels in df.columns, "Labels not in column names"
    ### STUDENT SOL START ###
    
    ### STUDENT SOL END ###
le_categories(train_data, ['sex', 'education', 'marital-status', 'occupation', 'race'])

SyntaxError: unexpected EOF while parsing (<ipython-input-46-52f13c7b7c46>, line 3)

### There's another way (and it's sometimes better!)
Another technique to encode categorical data is called *One Hot Encoding*. Essentially, you're taking every possible category for a catgorical feature and making it it's own binary feature. 

One hot encoding can improve performance of a classifier by removing the notion of order the enumerated labels produced by labelencoding can include. Despite adding more features and thereby reducing performance, other techniques exist to offset this loss. Now let's check this out

In [ ]:
#OHE EXAMPLE

**Adopt the above example to work for a dataframe if given a list of column names**

In [ ]:

def ohe_catgories(df, labels):
ohe_categories(train_data, ['sex', 'education', 'marital-status', 'occupation', 'race'])

## Moving On
Now that we've explored categorical data, we can do some tricks to improve performance using continuous data as well. 

A popular and useful technique is called binning. The procedure involves breaking up a range of continuous numbers into equally sized chunks, then assigning each datapoint to their respective chunk. This significantly reduces the number of possible values and also can significanlty increase performance in many cases.